<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Blog</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>noLoginPaths</param-name>
      <param-value>index.jsp;jcaptcha;goIndex.jsp;Forum
            	signOut;registServlet;front_develop/usernameCheck.jsp;sendEmail;filter.jsp;
            	back_manage/modularName_Check.jsp;checkCode;loginServlet;headImages;css;javascript;
            	bdimg.share.baidu.com;
            </param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    <init-param>
      <param-name>struts.action.extension</param-name>
      <param-value>just</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.just</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>articleAdd</servlet-name>
    <servlet-class>servlet.ArticleAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleAdd</servlet-name>
    <url-pattern>/articleAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articleDel</servlet-name>
    <servlet-class>servlet.ArticleDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleDel</servlet-name>
    <url-pattern>/articleDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articleUpdate</servlet-name>
    <servlet-class>servlet.ArticleUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleUpdate</servlet-name>
    <url-pattern>/articleUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commentAdd</servlet-name>
    <servlet-class>servlet.CommentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentAdd</servlet-name>
    <url-pattern>/commentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commentDel</servlet-name>
    <servlet-class>servlet.CommentDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentDel</servlet-name>
    <url-pattern>/commentDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateRoot</servlet-name>
    <servlet-class>servlet.UpdateRoot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRoot</servlet-name>
    <url-pattern>/updateRoot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendEmail</servlet-name>
    <servlet-class>servlet.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEmail</servlet-name>
    <url-pattern>/sendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signOut</servlet-name>
    <servlet-class>servlet.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signOut</servlet-name>
    <url-pattern>/signOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>friendAdd</servlet-name>
    <servlet-class>servlet.FriendAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendAdd</servlet-name>
    <url-pattern>/friendAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>friendDel</servlet-name>
    <servlet-class>servlet.FriendDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendDel</servlet-name>
    <url-pattern>/friendDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>praiseArticle</servlet-name>
    <servlet-class>servlet.PraiseArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praiseArticle</servlet-name>
    <url-pattern>/praiseArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>criticizeArticle</servlet-name>
    <servlet-class>servlet.CriticizeArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>criticizeArticle</servlet-name>
    <url-pattern>/criticizeArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkCode</servlet-name>
    <servlet-class>servlet.CheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCode</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modularAdd</servlet-name>
    <servlet-class>servlet.ModularAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modularAdd</servlet-name>
    <url-pattern>/modularAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateModular</servlet-name>
    <servlet-class>servlet.UpdateModular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateModular</servlet-name>
    <url-pattern>/updateModular</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modularDel</servlet-name>
    <servlet-class>servlet.ModularDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modularDel</servlet-name>
    <url-pattern>/modularDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hobbyAdd</servlet-name>
    <servlet-class>servlet.HobbyAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hobbyAdd</servlet-name>
    <url-pattern>/hobbyAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hobbyDel</servlet-name>
    <servlet-class>servlet.HobbyDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hobbyDel</servlet-name>
    <url-pattern>/hobbyDel</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>replyAdd</servlet-name>
    <servlet-class>servlet.ReplyAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyAdd</servlet-name>
    <url-pattern>/replyAdd</url-pattern>
  </servlet-mapping>
</web-app>